# 目标架构: MediaTek Filogic 820 (MT7981B)
# 对应官方孪生目标设备: CMCC RAX3000M (NAND 版，硬件与 XR30 完全一致)
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m=y

# 100% 纯正官方开源无线驱动 (mac80211 / mt76 + WED 硬件加速)
CONFIG_PACKAGE_kmod-mt76=y
CONFIG_PACKAGE_kmod-mt7915e=y
CONFIG_PACKAGE_kmod-mt7981-firmware=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y

# 现代化防火墙与硬件流控 (PPE + WED)
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_kmod-nft-offload=y

# 256MB 内存保卫战与 BBR (启用 zstd 极速动态压缩)
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-crypto-zstd=y
CONFIG_PACKAGE_kmod-tcp-bbr=y

# 现代化轻量代理与核心工具
CONFIG_PACKAGE_sing-box=y
CONFIG_PACKAGE_luci-app-sing-box=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_bind-dig=y

# 优雅现代 UI 主题
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
